.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-700);
}

.headerContent {
  display: flex;
  align-items: center;
  
  max-width: 1120px;
  height: 5rem;
  padding: 0 2rem;
  margin: 0 auto;

  nav {
    margin-left: 5rem;
    height: 5rem;

    a {
      display: inline-block;
      position: relative;

      height: 5rem;
      padding: 0 0.5rem;

      color: var(--gray-300);
      line-height: 5rem;
      transition: color 0.2s ease;

      &:hover {
        color: var(--white);
      }

      & + a {
        margin-left: 1.5rem;
      }

      &.active {
        color: var(--white);
        font-weight: 700;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;

          background-color: var(--yellow);
          height: 3px;

          border-radius: 3px 3px 0 0;
        }
      }
    }
  }

  > button {
    margin-left: auto;
  }
}